<section id="projects">

  

  <div class="flex flex-wrap bg-body-secondary gap-2">
    <h2 class="display-4 mb-1 p-4" style="margin-left: 3rem;">Projects</h2>
    <div class="p-3">
      <p-card styleClass="flex-grow-1" [style]="{ width: '22rem', position: 'relative', overflow: 'hidden' }">
        <ng-template pTemplate="header">
          <img alt="Card" class="w-100" style="height: 20vh;" src="Images/handgesturegamingproject.jpeg" />
        </ng-template>
        <ng-template pTemplate="title">Gesture Controlled Gaming Application</ng-template>
        <ng-template pTemplate="subtitle">OpenCV</ng-template>
        <p>
          Collaborated with a team of students to design and implement a web-based gaming platform utilizing Computer Vision and gesture recognition, significantly reducing traditional input device dependency by 90%.  
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-4 mt-1">
            <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
          </div>
        </ng-template>
      </p-card>
    </div>
    <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" style="height: 22vh;" src="Images/SudokuSolverAlgo" />
          </ng-template>
          <ng-template pTemplate="title">Sudoku Puzzle Solver </ng-template>
          <ng-template pTemplate="subtitle"> Algorithm Analysis and Design </ng-template>
          <p>
            Authored a paper analyzing the comparative performance of several algorithms for solving 100’s of SUDOKU puzzles, 
offering valuable insights into their strengths and limitations across different complexity levels. 
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik/AlgorithmFinalProject" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" style="height: 22vh;" src="Images/EthicsClassProject.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Ethics in AI (CS510) </ng-template>
          <ng-template pTemplate="subtitle"> Artificial Intellegence </ng-template>
          <p>
            Conducted research and presented on AI/ML ethics, reviewing papers and discussing developments. Analyzed AI's societal impacts and executed risk assessments on emerging technologies to ensure ethical integration regarding privacy, bias, and compliance.
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://docs.google.com/document/d/1H25CADA6ZwuqrgZiVtugYiMN4ATTOtVby9aj1Y0KdqQ/edit?tab=t.0#heading=h.z6ne0og04bp5" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" style="height: 22vh;" src="Images/MedicalChatbotLLM.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Medical Chatbot using Generative AI </ng-template>
          <ng-template pTemplate="subtitle"> Large Language Models </ng-template>
          <p>
            The primary objective of this project is to provide users with enhanced user interaction for seeking health-related information by leveraging the power of LLMs and overcoming the complexities of the traditional internet
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://docs.google.com/document/d/15Ta2ELKc28ayq5n6rS4ojkJ3ih49hWKRve2GAKRy0dc/edit?tab=t.0" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '25rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" style="height: 20vh;" src="Images/Edge-AI-Chips-Market.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> CS 505 (R&C) – AI and Semi-Conductor industry synergy </ng-template>
          <ng-template pTemplate="subtitle"> Research Credits </ng-template>
          <p>
            This research explores the pivotal role of AI in shaping semiconductor innovation, from reduced transistor sizes
and optimized chip designs to breakthroughs in quantum computing and edge AI applications. It highlights key
industry trends, technological milestones, and the collaborative efforts of leading companies like Google, Intel,
IBM, and AMD in transforming the future of AI and computing
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="Images/CS505_AI_SemiConductorSynergy.pdf" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>


      <!--
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Advanced Card </ng-template>
          <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Advanced Card </ng-template>
          <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
    -->
    
    
    
  </div>
  

  
</section>